
.app-title {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.app-title span {
    font-weight: 600;
    color: var(--red-color);
}