.sort-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.sort-button svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.sort-button h2 {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.2rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.sort-button h2 span {
    color: var(--red-color);
}