
:root {
  --main-bg-color: #212121;
  --red-color: red;
  --secondary-bg-color: #343434;
  --accent-color: #ffffff1e;
  --font-family: 'K2D', sans-serif;
  --text-color: white;
  --alt-accent-color: #1A1A1A;
}


#root,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
